$breakpoint-xs: 0px;
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;
$mainMargin: 36px;
$smallMargin: 12px;
$eduImgSIze: 72px; 
$bigFontSize: 72px;
$mediumFontSize: 54px;
$h2FontSize: 48px;
$mainPadding: 48px;
$bgMaxHeight: 600px;
$bgMediumHeight: 450px;
$bgMinHeight: 300px;
$bgColor: rgba(0, 0, 0, 0.7);
$bgColorSec: rgb(25, 27, 34);
$white: white;
$triangleSize: 8px